// app global css in SCSS form

.absolute-bottom-center {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  .absolute-top-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  }
  
  .overflow-visible {
	overflow: visible !important;
  }
  
  .visibility-visible {
	visibility: visible !important;
  }
  
  .position-sticky {
	position: sticky !important;
  }
  
  .rounded {
	border-radius: 30px !important;
  }
  
  .rounded-xs {
	border-radius: 5px !important;
  }
  
  .rounded-sm {
	border-radius: 10px !important;
  }
  
  .rounded-md {
	border-radius: 16px !important;
  }
  
  .rounded-lg {
	border-radius: 20px !important;
  }
  
  .rounded-xl {
	border-radius: 30px !important;
  }
  
  .rounded-full {
	border-radius: 50px !important;
  }
  
  .border {
	border: 1px solid;
  }
  
  .border-primary {
	border-color: #f67829 !important;
  }
  
  .border-grey-7 {
	border-color: #efefef !important;
  }
  
  .border-md {
	border-width: 2px !important;
  }
  
  .no-underline {
	text-decoration: none;
  }
  
  .generatedImageCard {
	border: 1px solid #d1d6dc;
  }
  
  .dialogSize60 {
	max-width: 60vw !important;
  }
  
  .dialogSize50 {
	max-width: 600px !important;
  }
  
  .dialogSize40 {
	max-width: 40vw !important;
  }
  
  .postIconBtn {
	min-width: 160px !important;
  }
  
  .rowBottom {
	margin-bottom: 15px;
  }
  
  .custom-card {
	border-radius: 16px;
	box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.09);
  }
  
  .shadow-none {
	box-shadow: none;
  }
  
  .shadow-sm {
	box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.08);
  }
  
  .shadow-md {
	box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.09);
  }
  
  .shadow-lg {
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  }
  
  .flex-shrink-0 {
	flex-shrink: 0;
  }
  
  .custom-tabs-btn {
	border-radius: 0;
	padding: 0px 12px;
  
	i {
	  margin-right: 6px;
	  font-size: 26px !important;
	}
  
	span {
	  font-size: 18px;
	  font-weight: 700 !important;
	}
  
	.q-btn__content {
	  border-bottom: 3px solid transparent;
	}
  
	&.active {
	  .q-btn__content {
		border-bottom: 3px solid #f67829;
	  }
	}
  }
  
  .custom-btn-tabs {
	border-radius: 0;
	padding: 0px 8px;
  
	span {
	  font-size: 16px;
	  font-weight: 500 !important;
	  color: #535e6c;
	}
  
	.q-btn__content {
	  border-bottom: 1px solid transparent;
	}
  
	&.active {
	  .q-btn__content {
		border-bottom: 1px solid #f67829;
	  }
  
	  span {
		color: #f67829;
	  }
	}
  }
  
  .custom-selected-collection {
	border-radius: 7px;
  
	&.non-active {
	  background: #d1d6dc !important;
	  color: #535e6c !important;
	}
  }
  
  .custom-field {
  
	&.q-field--labeled.q-field--dense .q-field__native,
	&.q-field--auto-height.q-field--dense.q-field--labeled .q-field__control-container {
	  padding-top: 3px !important;
	  padding-bottom: 2px !important;
	  padding-left: 1px !important;
	}
  
	&.q-textarea.q-field--dense.q-field--labeled .q-field__control-container {
	  padding-top: 7px !important;
	  padding-bottom: 2px !important;
	  padding-left: 2px !important;
	}
  
	&.q-textarea.q-field--dense .q-field__control {
	  min-height: 40px !important;
	}
  
	&.q-field--dense.q-field--float .q-field__label {
	  transform: translateY(-90%) scale(0.75) !important;
	  background-color: white;
	  z-index: 20 !important;
	  padding: 0 4px !important;
	}
  
	&.q-field--outlined.q-field--readonly .q-field__control:before {
	  border-style: solid !important;
	}
  
	.q-chip {
	  background-color: white !important;
	  border: 1px solid #ffddc8 !important;
	  font-weight: 500 !important;
  
	  .q-chip__icon {
		display: none;
	  }
	}
  }
  
  .tableColumnLenth {
	max-width: 300px;
	min-width: 200px;
	word-wrap: break-word;
	text-wrap: wrap;
  }
  
  @media all and (min-width: 769px) {
	.paddingLgscreen {
	  padding-left: 15px !important;
	}
  
	.postIconBtn {
	  min-width: 190px !important;
	}
  
	.responsive-modal {
	  max-width: 60vw !important;
	}
  }
  
  @media all and (max-width: 769px) {
	.postIconBtn .q-icon {
	  display: none;
	}
  
	.dialogSize60 {
	  max-width: none !important;
	}
  
	.paddingBottomMobile {
	  margin-bottom: 15px;
	}
  
	.hideOnsmall {
	  display: none !important;
	}
  
	.smallPaddengMobile {
	  padding: 2px;
	}
  
	.calendarTextMobile {
	  font-size: 13px;
	  text-align: center;
	  font-weight: normal;
	}
  
	.mobileJustifyContent {
	  justify-content: center;
	}
  
	.noPaddingMobile {
	  padding: 0px;
	}
  
	.responsive-modal {
	  max-width: 80vw !important;
	}
  
	.text-h4 {
	  font-size: 1.7rem;
	}
  
	.mobileStepper .q-stepper__tab {
	  max-width: 17%;
	  padding: 0px;
	  text-align: center;
	  justify-content: center !important;
	}
  
	.mobileStepper .q-stepper__label {
	  display: none;
	}
  
	.mobileStepper .q-q-stepper__dot {
	  margin: 0px;
	}
  
	.mobileStepper .q-stepper__tab .q-stepper--horizontal .q-stepper__dot:before {
	  display: none;
	}
  
	.q-chip {
	  max-width: 150px;
	}
  
	.noMobileMargin {
	  margin: 0px;
	}
  
	.topMarginMobile {
	  margin-top: 16px;
	}
  
	.mobileWidth100 {
	  width: 100% !important;
	}
  
	.minwidth200px {
	  min-width: 200px;
	}
  }
  
  .q-item {
	min-height: 4px !important;
  }
  
  .active-list-card {
	border: 1px solid #f67829;
  }
  
  .custom-uploader {
	border: 2px dashed #f67829;
	border-radius: 8px;
  
	&.q-field--standout {
	  .q-field__control {
		background: white !important;
		box-shadow: none !important;
  
		&::before {
		  background: white !important;
		  box-shadow: none !important;
		}
	  }
	}
  
	&.q-file .q-field__native {
	  display: none !important;
	}
  }
  
  .gallery-header {
	flex-wrap: nowrap;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f9fafb;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	position: sticky;
	top: 0;
	/* Adjust this value as needed */
	z-index: 1000;
	/* Ensures it stays on top */
  
	padding: 10px 15px;
	/* Adds padding to ensure it looks good */
  }
  
  .gallery-images {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 8px;
	padding: 8px;
  }
  
  .gallery-item {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image {
	width: 100%;
	height: auto;
	display: block;
  }
  
  .image-label {
	background-color: black !important;
	color: white;
	text-align: center;
	padding: 8px 0;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	width: 100%;
  }
  
  .styled-textarea .q-field__control {
	border-radius: 15px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 15px;
	min-height: 60px;
	max-height: 100px;
	overflow-y: auto;
  }
  
  .styled-select .q-field__inner {
	border-radius: 15px !important;
	background-color: transparent !important;
	border: 1px solid #ccc !important;
  }
  
  .styled-select .q-field__control {
	background-color: transparent !important;
  }
  
  .custom-markdown {
	border-radius: 5px;
  
	label {
	  position: absolute;
	  top: 7px;
	  left: 25px;
	  transform: translateY(-90%) scale(0.75) !important;
	  background-color: white;
	  z-index: 20 !important;
	  padding: 0 4px !important;
	  color: rgba(0, 0, 0, 0.6);
	}
  
	.q-markdown {
	  padding-left: 4px !important;
	}
  }
  
  .q-message-container {
	align-items: flex-start;
  
	.q-message-text {
	  &:last-child:before {
		display: none !important;
	  }
  
	  &:last-child {
		min-height: auto;
	  }
  
	  &.q-message-text--received {
		background-color: #fff0e7;
		border-radius: 0px 10px 10px 10px;
		padding-right: 25px;
	  }
  
	  &.q-message-text--sent {
		background-color: #efefef;
		border-radius: 10px 0px 10px 10px;
	  }
  
	  .q-markdown {
		p {
		  margin-bottom: 0;
		  font-weight: 500;
		}
	  }
  
	  .copy-icon {
		bottom: -16px;
		right: -6px;
	  }
	}
  }
  
  .collection-picker {
	.custom-field.q-field--dense.q-field--float .q-field__label {
	  transform: translateY(-90%) scale(0.75) !important;
	  background-color: white;
	  z-index: 20 !important;
	  padding: 0 4px !important;
	}
  
	.q-chip {
	  background-color: white;
	  border: 1px solid #ffddc8;
	  font-weight: 500;
	}
  }
  
  .hidden {
	display: none;
  }
  
  .border-dashed {
	border-style: dashed !important;
  
	&.q-btn--outline:before {
	  border: none !important;
	}
  }
  
  .bg-primary-1 {
	background: #f6782922 !important;
  }
  
  .bg-primary-light {
	background: #F8F1ED !important;
  }
  
  .top-right-controls {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
  }
  
  .filters-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
  }
  
  .select-container {
	display: flex;
	align-items: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 28px;
	padding: 15px 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	width: 250px;
	justify-content: center;
	justify-content: space-between;
	justify-content: flex-end;
	flex-grow: 1;
  
	margin-right: 20px;
  }
  
  .custom-select {
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
	flex-grow: 1;
	font-size: 16px;
	color: #333;
	width: 100%;
	text-align: center;
	position: relative;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="%23000" d="M6 9l-6-6h12z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 8px center;
	background-size: 12px;
	margin-right: 20px;
  }
  
  .left-controls {
	display: flex;
	align-items: center;
	flex-grow: 0;
	flex: 0 0 300px;
	min-width: 250px;
	position: absolute;
	right: 300px;
	top: 20px;
	z-index: 2;
  }
  
  .gallery-header-controls {
	position: relative;
	max-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 0 15px;
  }
  
  .select-container {
	display: flex;
	justify-content: flex-end;
	flex-grow: 0;
	margin-left: 20px;
  }
  
  .search-input-container {
	display: flex;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 30px;
	padding: 0.5em 1em;
	width: 100%;
	max-width: 305px;
  }
  
  .search-input-container input[type='search'] {
	border: none;
	outline: none;
	width: 100%;
	height: 35px;
  
	margin-left: 0.5em;
  }
  
  .search-input-container .fa-search {
	color: #9ca6b2;
	font-size: 20px;
  }
  
  .search-input-container input::placeholder {
	color: #aaa;
  }
  
  
  .custom-stepper {
	.q-stepper__step-inner {
	  padding-left: 0;
	  padding-right: 0;
	}
  
	.q-stepper__tab--done,
	.q-stepper__tab--active {
	  .q-stepper__title {
		color: currentColor;
	  }
	}
  
	.q-stepper__title {
	  color: #B8C0CA;
	}
  
	.q-stepper__dot {
	  background: transparent;
	  font-size: 20px;
	  margin-right: 0;
  
	  span {
		color: currentColor;
	  }
	}
  
	.q-icon>img {
	  width: 80%;
	  height: 80%;
	}
  
	.q-markdown {
	  p {
		margin-bottom: 0;
		font-weight: 500;
	  }
	}
  }
  
  .q-virtual-scroll__content {
	padding: 12px 14px !important;
  
	.q-item {
	  margin-bottom: 1px;
  
	  &.q-item--active {
		background: #FFDDC8 !important;
		color: #f67829 !important;
	  }
  
	  border-radius: 10px !important;
	  padding: 10px !important;
  
	  .q-item__section {
		font-weight: 500 !important;
		font-size: 14px !important;
	  }
	}
  }